<app-menu></app-menu>

<div class="contenedor"> <!--es un elemento comun en todas las paginas.-->
  <router-outlet></router-outlet>
</div>






<!-- <app-rating [maximoRating]="5" (votado)="procesarVoto($event)"></app-rating> -->


<!-- <p>Implementacion con ngFor</p>

<div *ngFor="let pelicula of peliculas; let indice = index">
  <p>{{indice}}) Pelicula: {{pelicula.title | uppercase}} </p>
  <p>Fecha lanzamiento: {{pelicula.fechaLanzamiento | date:"dd-MM-yyyy" }} </p>

  <p>Precio: {{pelicula.precio | currency}} </p>
</div> -->


<!-- ngIf -->

<!-- <div *ngIf="!peliculas">
  <img src="https://global.discourse-cdn.com/sitepoint/original/3X/e/3/e352b26bbfa8b233050087d6cb32667da3ff809c.gif" alt="Loading gif" width="350" height="350">
</div> -->


<!--
<input type="file" style="display: none;" #cargadorArchivos>
<button (click)="cargadorArchivos.click()">Cargar archivo</button> Referenciar click a otros elementos -->
